@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background-color: #eab76e;
}

body {
	width: 100%;
	font-family: 'Montserrat Alternates', sans-serif;
	max-width: 768px;
	margin: 0 auto;
	padding: 4rem 0;
	background: url(../images/image.jpg);
	background-size: cover;
	color: white;
	border-radius: 15px;
}

.white {
	background-color: white !important;
}

.container {
	display: flex;
	flex-direction: column;
	/* row-gap: 2rem; */
}

.container__text {
	background: url(../images/image-mobile.jpg);
	background-size: cover;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	text-align: center;
	width: 100%;
	max-width: 28rem;
	margin: 2rem auto;
	border-radius: 15px;
}

.main-heading {
	background: #c2a502;
	background: linear-gradient(to right, #c2a502 0%, #eab76e 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	font-size: 2rem;
}